// FONTS
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@font-face {
    font-family: 'Challista';
    src: url(../fonts/Challista.ttf)
}

// VARIABLES
$white: #FFF;
$black: #000;
$background: #FAFAFA;
$text-primary: #424242;
$text-secondary: #AAAAAA;

// MIXINS
@mixin flexbox($direction: column, $jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $direction;
}

@mixin fonts($color: $text-primary, $size: 1em, $weight: 400, $spacing: 1px) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// RESET
* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
  }