@import 'base';

body {
  width: 100%;
  background: $--background;
}

.header {
  &__title {
    @include fonts($--white, 5rem, 700, 2px);
    > span {
      font-size: 6rem;
    }
  }
  &__sub-title {
    @include fonts($--white, 2rem, 400, 1px);    
  }
}



.section {
  @include flexbox;
  min-height: 80vh;
  margin: 20px;
  &__title {
    @include fonts($--text-secondary, 1em, 700, 2px);
    text-transform: uppercase;
    line-height: 30px;
  }
  &__sub-title {
    @include fonts($--text-primary, 3.45em, 500, 6px);
    text-transform: uppercase;
    line-height: 56px;
    &--light {
      color: $--white !important;
      letter-spacing: 10px !important;
    }
  }
  &__article {
    @include fonts;
    line-height: 30px;
    margin-top: 26px;
  }
  &__content {
    @include flexbox;
    &--more-articles {
      @include flexbox(row !important, center !important, flex-start !important);
      max-width: 100%;
    }
    &--history {
      width: 660px;
      max-width: 90%;
      margin: 160px 0px;
    }
    &--ceremony {
      width: 600px;
      max-width: 100%;
      margin: 160px 0px;
      padding: 0 80px;
    }
    &--tips {
      width: 600px;
      max-width: 100%;
      margin: 160px 0px;
      padding: 0 80px;
      border-left: $--color-primary 1px solid;
    }
    &--special-guests {
      width: ((60px + 20px) + 180px + (30px * 2)) * 3 !important;
      max-width: 100%;
      margin: 160px 0px;
    }
    &--gifts-list {
      padding: 160px 40px;
    }
    &--confirmation-form {
      width: 800px;
      max-width: 90%;
      margin: 160px 0px;
    }
  }
}

.parallax {
  margin: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &--header {
    background-image: url('/images/cover-header.jpeg');
    height: calc(100vh - 40px);
    filter: grayscale(100%);
  } 
  &--history-ceremony {
    background-image: url('/images/history-ceremony.jpeg');
    height: calc(100vh - 40px);
  }
  &--ceremony-guests {
    background-image: url('/images/ceremony-guests.jpeg');
    height: calc(60vh - 40px);
  }
  &--gifts-list {
    background-image: url('/images/gifts-list.jpeg');
  }
  &__dots {
    @include flexbox;
    @include size(100%, 100%);
    background: url('/images/bg-single-dotted.gif');
  }
}

.special-guests {
  @include flexbox(row);
  flex-wrap: wrap;
  & > div {
    @include flexbox(row, flex-start, center);
    @include size(260px, 60px);
    margin: 30px;
    img {
      @include size(60px, 60px);
      background: $--color-primary;
      margin-right: 20px;
      border-radius: 50%;
      min-width: 60px;
      min-height: 60px;
      max-width: 60px;
      max-height: 60px;
    }
    h4 {
      @include fonts($--text-primary, 1.4rem, 500, 2px);
      text-transform: uppercase;
      text-align: left;
    }
  }
}

form {
  & > div {
    @include flexbox(row, flex-start, flex-start);
    margin-top: 20px;
    label {
      width: 126px;
      display: flex;
      justify-content: flex-end;
      margin-right: 16px;
      padding: 16px 0px;
      text-align: right;
      line-height: 14px;
    }
    input, textarea {
      font-family: 'Raleway', sans-serif;
      border: $--color-secondary 1px solid;
      padding: 14px;
      width: 340px;
      @include transition;
      &:hover, &:focus {
        border: $--color-primary 1px solid;
      }
    }
    span {
      @include fonts(darkred);
      text-align: center;
      line-height: 18px;
      width: 340px;
    }
  }
  & > h4 {
    @include fonts($--text-primary, 1.2rem, 400, 1px);
    margin-top: 60px;
  }
}

.btn-light {
  @include fonts($--text-primary, 1.2em, 600, 2px);
  text-transform: uppercase;
  text-decoration: none;
  background-color: $--white;
  border: transparent 2px solid;
  padding: 20px 40px;
  margin-top: 60px;
  @include transition;
  &:hover {
    color: $--white;
    border: $--white 2px solid;
    background-color: transparent;
  }
}

.btn-dark {
  @include fonts($--white, 1.2em, 400, 2px);
  text-transform: uppercase;
  text-decoration: none;
  background-color: $--color-primary;
  border: transparent 1px solid;
  padding: 20px 40px;
  cursor: pointer;
  @include transition;
  &:hover {
    color: $--text-primary;
    border: $--color-primary 1px solid;
    background-color: transparent;
  }
}

.modal-container {
  @include transition(.5s);
  @include flexbox(row, center, center);
  @include position(fixed);
  @include fonts;
  z-index: 99;
  opacity:0;
  backdrop-filter: blur(16px);
  background-color: rgba(0,0,0,0.8);
  pointer-events: none;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  &__modal-box {
    @include flexbox(column, center, center);
    @include position;
    padding: 32px;
    width: 50%;
    text-align: left;
    background: $--white;
  }
  &__content-box {
    border: solid $--color-primary 2px;
    padding: 24px;
  }
  .close {
    @include fonts($--text-secondary, 1.2em, 400, 0px);
    @include position(absolute, 56px, 56px, '', '');
  }
}

.flyin {
  opacity: 0;
  @include transition(1s);
}

.footer {
  @include flexbox(row, space-between, center);
  @include fonts($--white);
  background: $--color-primary;
  padding: 0 20px;
  height: 40px;
  a {
    @include fonts($--white);
    text-decoration: underline;
  }
}